
.equipe1{
  background-color:white ;
margin-bottom: 150px;
;
  text-align: center;
}
.equipe2{
  background-color:white;

  text-align: center;

}
label{
  margin-left: 2px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: black;
  border:solid;
  border-color: black;
  color: white;

  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input{
  border: 1px solid;
  border-color: black;
  border-radius: inherit;
}


