<mat-grid-list cols="3" rowHeight="3:4">
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image class="bg-green-700 rounded-lg transition duration-500 hover:scale-125 hover:cursor-pointer" src="assets/images/pp.png">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [routerLink]="['/question/7']">
      <img mat-card-image class="bg-red-700 rounded-lg transition duration-500 hover:scale-125 hover:cursor-pointer" src="assets/images/pp.png">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image class="bg-yellow-700 rounded-lg transition duration-500 hover:scale-125 hover:cursor-pointer" src="assets/images/pp.png">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
